[submodule "gateway-service"]
	path = gateway-service
	url = https://github.com/Dixie-Dean/gateway-service.git
[submodule "id-service"]
	path = id-service
	url = https://github.com/Dixie-Dean/id-service.git
